<%= error_messages_for :session %>

<h1> Login using your OpenID URL </h1>

<div id="dvformcontainer">
  <% form_tag(session_url) do %>
  <%= text_field_tag "openid_identifier" %>
  <%= submit_tag 'Sign in', :disable_with => "Signing in&hellip;" %>
</div>
<% end %>

<p>
  Don't have an OpenID? 
  <a href="http://openid.net/" title="Obtain an OpenID here!">Obtain an OpenID here!</a>
</p>
