<% form_tag(session_url) do %>
<%= label :openid_identifier, 
  '<label>Your <a href="http://openid.net/" ' +
  'title="Obtain an OpenID here!">OpenID</a> URL</label>'
%>
<%= text_field :session, :openid_identifier %>
<%= submit_tag text %>
<% end %>

