<% title "Editing #{@person.name}" %>

<h1>Editing <%= @person.name %></h1>

<div id="dveditingcontainer">
<%= render :partial => 'form' %>
<span id="spbackbutton"><%= link_to 'Back', dashboard_path(current_user) %></span>
</div>
