/**
 * CSS Document 
 * Darker        #2C1C0F   Header Text
 * Dark          #3F2F22   Background
 * Mid           #513D2C   Body Text
 * Mid Pale      #938A82   Footer Text
 * MidLight      #BB9F89   Logo Header Subdued
 * MidLight Pale #D5D4CD   Border
 * Light         #F8F4D5   Nav/Topbar BG and Logo Header Focus
 * Lightest      #FFFFFF   Body Background
 */
  
* { margin: 0; padding: 0; } 
  
body {
  background-color: #3F2F22;
  border-top: 5px solid #F8F4D5;
  font-family: Helvetica, Arial, Verdana;
  }

img { border: none; } 
a { border-bottom: 1px solid #2C1C0F; color: #2C1C0F; text-decoration: none; }
a:hover { border-bottom: 1px solid #513D2C; color: #513D2C; }

#dvlogincontainer { background-color: #F8F4D5; border-bottom: 5px solid #F8F4D5; width: 100%; }
#dvlogincontainer form { margin: 0 auto; width: 900px; text-align: right; }
#dvlogincontainer label { color: #938A82; }
#dvlogincontainer a { border-bottom: 1px solid #938A82; color: #938A82; }
#dvlogincontainer a:hover { border-bottom: 1px solid #513D2C; color: #513D2C; }

#dvmaincontainer { margin: 0 auto; width: 900px; }
#dvmaincontainer #dvtopcontainer { width: 100%; }

/**
 * Header - Logo
 */
#dvtopcontainer #dvlogocontainer {
  float: left;
  padding: 5px 71px 0 0;
  }
#dvlogocontainer h1 {
  color: #BB9F89;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  }
#dvlogocontainer h1 span { display: block; }
#dvlogocontainer h1 span.lvl1 { font-size: 16px; }
#dvlogocontainer h1 span.lvl2 { font-size: 18px; line-height: 10px; }
#dvlogocontainer h1 span.lvl3 { font-size: 33px; line-height: 33px; }
#dvlogocontainer h1 span a { border: 0 none #000000; color: #BB9F89; }
#dvlogocontainer h1 span.lvl3 a { color: #F8F4D5; }

/**
 * Header - Right Navigation
 */
#dvtopcontainer #dvnavicontainer { float: right; }
#dvnavicontainer img { float: left; } 
#dvnavicontainer #tabs {
  background-image: url(../images/navi_left.jpg);
  background-position: bottom left;
  background-repeat: no-repeat;
  float: left;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 11px;
  /* height: 100%; Fix for MSIE peekaboo bug */
  }
#dvnavicontainer #tabs ul {
  background-image: url(../images/navi_right.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  float: left;
  list-style: none;
  padding-right: 11px;
  }
#dvnavicontainer #tabs li {
  background: #F8F4D5;
  display: inline;
  float: left; 
  height: 25px;
  voice-family: "\"}\"";
  }
#dvnavicontainer #tabs a {
  border: 0 none #000000;
  color: #938A82;
  padding: 3px 9px 0 9px; 
  }
#dvnavicontainer #tabs a:hover {
  border-color: #2C1C0F;
  color: #2C1C0F;
}

/**
 * Main Body
 */
#dvbodycontainer {
  clear: both;
  color: #513D2C;
  font-size: 14px;
  line-height: 21px;
  }
#dvbodycontainer h1 {
  color: #2C1C0F;
  font-size: 24px;
  line-height: 24px;
  margin: 16px 0 6px 0;
  }
#dvbodycontainer h2 {
  color: #2C1C0F;
  font-size: 18px;
  line-height: 18px;
  margin: 13px 0 5px 0;
  }
#dvbodycontainer label {
  font-size: 15px;
  padding-right: 15px;
  }
#dvbodycontainer .block {
  padding: 14px;
  }

#dvbodycontainer span.buttons {
  display: block;
  padding: 14px 0; 
  } 

#dvmaincontainer #dvbodycontainer { background-color: #FFFFFF; width: 900px; }
#dvbodycontainer #dvbannerbgcontainer {
  background-image: url(../images/bg.jpg);
  background-position: top;
  background-repeat: repeat;
  border-bottom: 1px solid #D5D4CD;
  border-top: 1px solid #D5D4CD;
  padding: 15px 25px;
  width: 850px;
  }
#dvbodycontainer #dvbannerbgcontainer h1 { color: #513D2C; margin: 0; }
#dvbodycontainer #dvmainpanel {
  padding: 0 25px 0 25px;
  overflow: auto;
}

/**
 * Footer
 */
#dvfootercontainer {
  width: 900px;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0;
  padding: 0 0 50px 0;
  }
#dvfootercontainer p {
  color: #938A82;
  font-size: 12px;
  padding: 25px 20px 0 20px;
  }
#dvfootercontainer p a {
  border-bottom: 0px solid #938A82;
  color: #938A82;
  padding-left: 5px;
  padding-right: 5px;
  }
#dvfootercontainer p a:hover {
  border-bottom: 0px solid #938A82;
  color: #938A82;
  }
#dvfootercontainer p span { padding: 0 15px 0 0; }
#dvfootercontainer span.designers { float: right; }
