/**
 * CSS Document 
 * Dark       #3F2F22
 * Mid        #BB9F89
 * Light      #F8F4D5 
 * Very Light #FFFFFF
 */
  
* { margin: 0; padding: 0; } 
  
body {
  background-color: #3F2F22;
  border-top: 5px solid #FAF6DB;
  font-family: Helvetica, Arial, Verdana;
  }

img { border: none; } 

#dvmaincontainer { margin: 0 auto; width: 900px; }
#dvmaincontainer #dvtopcontainer { width: 100%; }

/**
 * Header - Logo
 */
#dvtopcontainer #dvlogocontainer {
  float: left;
  padding: 5px 71px 0 0;
  }
#dvlogocontainer h1 {
  color: #BB9F89;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  }
#dvlogocontainer h1 span { display: block; }
#dvlogocontainer h1 span.lvl1 { font-size: 16px; }
#dvlogocontainer h1 span.lvl2 { font-size: 18px; line-height: 10px; }
#dvlogocontainer h1 span.lvl3 { font-size: 33px; line-height: 33px; }
#dvlogocontainer h1 span      a { color: #BB9F89; text-decoration: none; }
#dvlogocontainer h1 span.lvl3 a { color: #F8F4D5; }

/**
 * Header - Right Navigation
 */
#dvtopcontainer #dvnavicontainer { float: right; }
#dvnavicontainer img { float: left; } 
#dvnavicontainer #tabs {
  background: #FAF6DB;
  float: left;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding-top: 6px; 
  /* height: 100%; Fix for MSIE peekaboo bug */
  }
#dvnavicontainer #tabs ul {
  float: left;
  list-style: none;
  margin-top: 10px;
  }
#dvnavicontainer #tabs li {
  display: inline;
  float: left; 
  height: 25px;
  voice-family: "\"}\"";
  }
#dvnavicontainer #tabs a {
  color: #2C1C0F;
  padding: 3px 9px 0 9px; 
  text-decoration: none;
  }

/**
 * Main Body
 */
#dvmaincontainer #dvbodycontainer {
  clear: both;
  background-color: #FFFFFF;
  width: 900px;
  }
#dvbodycontainer #dvbannerbgcontainer {
  background-image: url(../images/bg.jpg);
  background-position: top;
  background-repeat: repeat;
  border-bottom: 1px solid #D5D4CD;
  border-top: 1px solid #D5D4CD;
  padding: 15px 25px;
  width: 850px;
  }
#dvbodycontainer #dvmainpanel {
  padding: 25px 25px 25px 25px;
}

#dvbodycontainer {
  color: #513D2C;
  font-size: 14px;
  line-height: 16px;
}
#dvbodycontainer h1 {
  color: #2C1B11;
  font-size: 24px;
  padding: 10px 0px 0px 0;
}
#dvbodycontainer h2 {
  color: #2C1B11;
  font-size: 18px;
  padding: 10px 0px 0px 0;
}
#dvbodycontainer label { font-size: 15px; }

#dvfootercontainer {
  width: 900px;
  background-image: url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0;
  padding: 0 0 50px 0;
  }
#dvfootercontainer p {
  color: #938A82;
  font-size: 12px;
  padding: 25px 20px 0 20px;
  }
#dvfootercontainer p a {
  color: #938A82;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  }
#dvfootercontainer p a:hover {
  color: #938A82;
  text-decoration: underline;
  }
#dvfootercontainer p span { padding: 0 15px 0 0; }
#dvfootercontainer span.designers { float: right; }
