.person_stat {
  float: left;
  width: 290px;
  background-color: #BB9F89;
  min-height: 300px;
  position: absolute;
  top: 0;
  left: -290px;
  display: none;
  padding-bottom: 12px;
  background-image: url(../images/person_stat_bottom.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}
.person_stat p { padding: 12px 12px 0 12px; }
#people_container .active_person .person_stat {
  display: block;
}
.utils, .calc-utils {
  float: right;
}

.person .utils, .person .calc-utils {
  display: none;
}

.note { 
  border-top: 1px dashed #D5D4CD;
  color: #938A82;
  font-size: 12px;
  height: 250px;
  padding: 12px 0; 
  margin: 12px 6px;
}

.utils a, .calc-utils a { border-bottom: 0px solid #000000; }

#people_container .active_person .utils { display: block; }
#calculations_wrapper .calc-utils { display: block; }
#calculations_wrapper h1 {
  width: 260px;
  text-align: center;
  position: absolute;
  z-index: 1000;
  color: #CCD5F5;
  font-size: 18px; 
  margin: -22px 0 0 0;
  text-transform: uppercase;
  }
#people_container {
  width: 260px;
  margin: 12px auto;
}

#people_container input {
  width: 228px;
  background-color: #FFFFFF;
  background-image: url(../images/icons/magnifier.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  border: 1px solid #D5D4CD;
  color: #513D2C;
  padding: 6px 3px 6px 27px;
  margin-bottom: 2px;
}
#people_container input:hover,
#people_container input:focus {
  background-color: #FAF6DB;
}

.person {
  list-style-type: none;
  cursor: move;
  background-color: #FAF6DB;
  margin-bottom: 2px;
  padding: 5px;
}

#people_container .active_person {
  background-color: #BB9F89;
}

#calculations_wrapper {
  float: right;
  width: 260px;;
  margin: 12px 0;
}
#calculations {
  min-height: 190px;
  padding-bottom: 11px;
}
#calculations_wrapper .target-normal {
  background-color: #DBE1FA;
}
#calculations_wrapper .target-hovering {
  background-color: #CCD5F5;
}
#calculations_wrapper {
  background-image: url(../images/calculations_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 27px;
}
#calculations {
  padding-top: 1px;
  background-image: url(../images/calculations_bottom.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
#calculations li { background-color: #CCD5F5; }
#calculations_wrapper p {
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  background-position: top right;
  border: 1px solid #D5D4CD;
  font-size: 12px;
  margin: 12px 0 0 0;
  padding: 6px;
}
