.person_stat {
  width: 200px;
  background-color: #BB9F89;
  min-height: 300px;
  position: absolute;
  top: 0;
  left: -200px;
  display: none;
}
#people_container .active_person .person_stat {
  display: block;
}
#people_container .utils {
  float: right;
}

#calculations .person .utils {
  display: none;
}
#people_container {
  width: 275px;
  margin-left: 200px;
  margin-right: 300px;
}

.person {
  list-style-type: none;
  cursor: move;
  background-color: #FAF6DB;
  margin-bottom: 2px;
  padding: 5px;
}

#people_container .active_person {
  background-color: #BB9F89;
}

#calculations_wrapper {
  float: right;
  width: 275px;;
}
#calculations {
  min-height: 300px;
}
#calculations_wrapper .target-normal {
  border: 1px solid red;
}
#calculations_wrapper .target-hovering {
  border: 1px solid green;
}
