#dvmainpanel
{
 width: 100%;  
}
#person_stat_container {
  width: 200px;
  background-color: #FAF6DB;
  min-height: 200px;
  float: left;
}

#people_container {
  margin-left: 200px;
  margin-right: 300px;
  border: 1px solid red;
}

.person {
  list-style-type: none;
  margin: 2px;
  border: 1px solid #000;
  cursor: move;
}

#calculations {
  float: right;
  min-height: 300px;
  width: 275px;;
}
.normal {
  border: 1px solid red;
}
.hovering { border: 1px solid green;
