<%= error_messages_for :user %>

<h1>Register using your OpenID URL</h1>

<% form_for(@user) do |f| %>
<div class="block">
  <%= f.text_field :openid_identifier %>
  <%= f.submit "Register" %>
</div>
<% end %>

<p>Already registered? <%= link_to 'Login here', login_path %>.</p>
