<div class="thirds_column first">
  <%= image_tag("photos/car_speeding.jpg") %>
  <h2>Marketing One</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>
<div class="thirds_column">
  <%= image_tag("photos/hourglass_macro.jpg") %>
  <h2>Marketing Two</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
  </p>
</div>
<div class="thirds_column">
  <%= image_tag("photos/ipod_calendar.jpg") %>
  <h2>Marketing Three</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
  </p>
</div>
<div style="float:right; width: 554px; border: 1px solid #D5D4CD; background-image: url(images/bg.jpg);">
<h3 style="width:530px; background-image:url(images/bg_red.jpg); background-color:#A4051B; color:white; padding:6px 12px 6px 12px; border-bottom: 1px solid #D5D4CD;" class="button"><span><span>See how it works!</span></span></h3>
<div style="padding: 6px 12px; float:right;"><%= image_tag("photos/Monitor.png") %></div>
<p style="padding: 6px 12px;">
eap into electronic typesetting, remaining essentially unchanged. It was popula    rised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishin    g software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
</div>
