<div class="thirds_column first">
  <%= image_tag("photos/car_speeding.jpg") %>
  <h2>1. Add friends to your list</h2>
  <p>
    After you've signed up for an account, you can quickly add friends to your list of potential invites. You can view individual statistics of each friend by hovering over their name. You can even remove friends from your life straight from the dashboard! Add expected and actual arrival times for each friend by using the edit button.
  </p>
</div>
<div class="thirds_column">
  <%= image_tag("photos/hourglass_macro.jpg") %>
  <h2>2. Choose which friends to invite to your event</h2>
  <p>
    Simply drag and drop names from your friends list into the event jar, and they will be automatically added to the event. Additionally, you can click the green plus sign <img src="images/icons/plus.png" style="height:10px;width:10px; margin:0px; padding:0px; border:0px"> to add them to the event jar. Similarly, clicking the red minus <img src="images/icons/minus.png" style="height:10px;width:10px; margin:0px; padding:0px; border:0px"> will remove friends from the event.
  </p>
</div>
<div class="thirds_column">
  <%= image_tag("photos/laptop.jpg") %>
  <h2>3. Calculate the time to tell everyone to arrive</h2>
  <p>
    Input the time that you would want everyone to arrive, and then adjust the slider to see statistically how many people will show up on time! The more you use WKYAL, the more accurate the numbers will be. Keep up with it, and you'll save yourself tons of waiting time in the long run!
  </p>
</div>
<div style="float:right; width: 554px; border: 1px solid #D5D4CD; background-image: url(images/bg.jpg);">
<h3 style="width:530px; background-image:url(images/bg_red.jpg); background-color:#A4051B; color:white; padding:6px 12px 6px 12px; border-bottom: 1px solid #D5D4CD;" class="button"><span><span>Waiting sucks. Don't be left in the dark again!</span></span></h3>
<div style="padding: 6px 12px; float:right;"><%= image_tag("photos/Monitor.png") %></div>
<p style="padding: 6px 12px;">
  Tired of waiting countless minutes for your friends to show up for dinner? Tired of calling everyone to see where they are? With WKYAL, you'll no longer wonder where everyone is and what time they'll show up. You'll have an idea of when everyone will arive, and best of all, it's backed by the magic of statistics!
</p>
</div>
