<%= error_messages_for :user_session %>

<h1> Login using your OpenID URL </h1>

<% form_for @user_session do |f| %>
<div class="block">
  <%= f.text_field :openid_identifier %>
  <%= f.submit "Login" %>
</div>
<% end %>
